{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "quotes": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off"
  }
}
